@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --poppins: 'Poppins' , sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.card{
    background-color: #FFF3E3;
    width: 600px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 58px;
}
.conteudo{
    flex-direction: column;
    justify-content: center;
    padding: 70px 30px;
}
.titulo{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins);
}
.conteudo h1{
    font-size: 52px;
    font-family: var(--poppins);
    width: 400px;
    color: #B88E2F;
}
.texto{
    font-size: 18px;
    font-family: var(--poppins);
    margin-bottom: 65px;
    width: 550px;
}
.button{
    padding: 25px 60px;
    text-decoration: none;
    color: white;
    background-color: #B88E2F;
    font-family: var(--poppins);
    font-weight: 600;
}